<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="">
    <div class="footer-container br">
        <div class="footer-wrap br">
            <div class="footer-up">
              <span class="footer-info">
                <p style="color: white">개인정보처리방침</p>
                <p>|</p>
                <p>이용약관</p>
              </span>
                <span><p class="footer">Copyright © 2023 Turbo Technology Co., LTD. All Rights Reserved.</p></span>
            </div>
            <div class="footer-down">
                <p class="footer">Address - 경기 화성시 동탄대로21길 10, 더퍼스트타워1차 501호</p>
                <p>Tel - 031-374-0804</p>
                <p>Fax - 031-374-0803</p>
            </div>
        </div>
    </div>
</footer>
</html>