<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주식회사 터보테크놀로지</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/slick.css" />
    <link rel="stylesheet" type="text/css" href="/js/slick-theme.css" />
    <script type="text/javascript" src="/js/slick.min.js"></script>

    <style>
        .slick-arrow {
            background: gray !important;
        }

        .slick-prev {
            left: 24px !important;
            z-index: 2;
        }

        .slick-next {
            right: 24px !important;
        }
    </style>
</head>