<!DOCTYPE html>
<html lang="en">
  <head>
    <!--<div th:replace="turboFragment/head :: head"></div>
  <meta charset="UTF-8">-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Turbo Technology Inc.</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/slick.css" />
    <link rel="stylesheet" type="text/css" href="/js/slick-theme.css" />
    <script type="text/javascript" src="/js/slick.min.js"></script>

    <style>
      .slick-arrow {
        background: gray !important;
      }

      .slick-prev {
        left: 24px !important;
        z-index: 2;
      }

      .slick-next {
        right: 24px !important;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <!--<div th:replace="turboFragment/header :: header"></div>-->
      <header>
        <div class="header-main-container br">
          <div class="header-main-wrap bor">
            <a href="/eng"><img src="/images/logo/TT_logo.png" alt="logo" class="header-main-logo by" /></a>

            <ul class="header-main-menu by">
              <li><a href="/eng/html/company/company.html">Company Introduction</a></li>
              <li><a href="/eng/html/coretech/coretech.html">Core Technology</a></li>
              <li><a href="/eng/html/product/product.html">Product Description</a></li>
              <li>
                <a href="/eng/html/energysave/energysave.html">Energy Saving Projects</a>
              </li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/membership/DealerAgent">Membership</a></li>
            </ul>

            <div class="header-main-login by" id="authLink">
              <div id="loginLinkContainer">
                <a href="/user/login">LOGIN</a>
              </div>
              
              <div class="header-main-lang">
                <p>KR</p>
                <img src="/images/icon/arrow_under.png" alt="language" width="8px" height="6px" />
              </div>
            </div>
            <div class="mobile-header-menu">
              <span class="mobile-header-menu-bar mobile-header-menu-bar--top"></span>
              <span class="mobile-header-menu-bar mobile-header-menu-bar--mid"></span>
              <span class="mobile-header-menu-bar mobile-header-menu-bar--bot"></span>
            </div>
          </div>
        </div>
      </header>

      <section class="wb3">
        <div class="section-company-container br">
          <div class="section-company-wrap bor">
            <a href="/eng/html/company/ceo.html" class="section-company-item" style="background-image: url('/images/company/ceo.png')">
              <p class="typo_title">Message from CEO</p>
            </a>

            <!-- <a href="companyinfo.html" class="section-company-item" style="background-image: url('/images/company/companyinfo.png')">
              <p class="typo_title">회사 소개</p>
            </a> -->

            <a href="/eng/html/company/people.html" class="section-company-item" style="background-image: url('/images/company/people.png')">
              <p class="typo_title">Group</p>
            </a>
          </div>
        </div>
      </section>
      <footer class="">
        <div class="footer-container br">
          <div class="footer-wrap br">
            <div class="footer-up">
              <span class="footer-info">
                <p style="color: white"></p>
                
                <p></p>
              </span>
              <span><p class="footer">Copyright © 2023 Turbo Technology Co., LTD. All Rights Reserved.</p></span>
            </div>
            <div class="footer-down">
              <p class="footer">Address - 501-ho, 10, Dongtan-daero 21-gil, Hwaseong-si, Gyeonggi-do, Republic of Korea</p>
              <p>Tel - 031-374-0804</p>
              <p>Fax - 031-374-0803</p>
            </div>
          </div>
        </div>
      </footer>
      <!--<div th:replace="turboFragment/footer :: footer"></div>-->

      <nav class="side-bar off">
        <div class="side-bar-login-section">
          <a href="">Login</a>
        </div>
        <div class="side-bar-lang-section">
          <span>KOR</span>
          <span>ENG</span>
          <span>CHN</span>
        </div>
        <div class="side-bar-sub-section">
          <div>
            <p><a href="/eng/html/company/company.html">회사소개</a></p>
            <ul>
              <li>
                <a href="/eng/html/company/ceo.html">Message from CEO</a>
              </li>
              <li>
                <a href="/eng/html/company/companyinfo.html">회사소개</a>
              </li>
              <li>
                <a href="/eng/html/company/people.html">Group</a>
              </li>
            </ul>
          </div>
          <div>
            <p><a href="/eng/html/coretech/coretech.html">핵심기술</a></p>
            <ul>
              <li>
                <a href="/eng/html/coretech/uhepmmotor.html">UHEPM Motor</a>
              </li>
              <li>
                <a href="/eng/html/coretech/nbwairfoilbearing.html">NBW Air Foil Bearing</a>
              </li>
              <li>
                <a href="/eng/html/coretech/supersonicimpeller.html">Supersonic Impeller</a>
              </li>
              <li>
                <a href="/eng/html/coretech/dualaircoolingsystem.html">Dual Air Cooling System</a>
              </li>
              <li>
                <a href="/eng/html/coretech/autosurgeprotectionsystem.html">Auto Surge Protection System</a>
              </li>
              <li>
                <a href="/eng/html/coretech/internalcoolingairsystem.html">Internal Cooling Air System</a>
              </li>
              <li>
                <a href="/eng/html/coretech/anti-explosiveturbomotor.html">Anti-Explosive Turbo Motor</a>
              </li>
              <li>
                <a href="/eng/html/coretech/ambientlighting.html">Ambient Lighting</a>
              </li>
              <li>
                <a href="/eng/html/coretech/smarthmi.html">SMART HMI</a>
              </li>
            </ul>
          </div>
          <div>
            <p><a href="/eng/html/product/product.html">제품소개</a></p>
            <ul>
              <li>
                <a href="/eng/html/product/WH-SERIES.html">WH Series 터보 컴프레서</a>
              </li>
              <li>
                <a href="/eng/html/product/WL-SERIES.html">WL Series 터보 블로워</a>
              </li>
            </ul>
          </div>
          <div>
            <p><a href="/eng/html/energysave/energysave.html"> 에너지 절감 주요 적용 사업</a></p>
            <ul>
              <li>
                <a href="/eng/html/energysave/2차전지.html">2차전지</a>
              </li>
              <li>
                <a href="/eng/html/energysave/바이오케미컬.html">바이오케미컬</a>
              </li>
              <li>
                <a href="/eng/html/energysave/반도체디스플레이.html">반도체디스플레이</a>
              </li>
              <li>
                <a href="/eng/html/energysave/석유화학.html">석유화학</a>
              </li>
              <li>
                <a href="/eng/html/energysave/식음료.html">식음료</a>
              </li>
              <li>
                <a href="/eng/html/energysave/양조발효.html">양조발효</a>
              </li>
              <li>
                <a href="/eng/html/energysave/수처리환경.html">수처리/환경</a>
              </li>
              <li>
                <a href="/eng/html/energysave/발전.html">발전</a>
              </li>
              <li>
                <a href="/eng/html/energysave/금속제강제련.html">금속/제강/제련</a>
              </li>
              <li>
                <a href="/eng/html/energysave/조선선박.html">조선선박</a>
              </li>
              <li>
                <a href="/eng/html/energysave/광업.html">광업</a>
              </li>
              <li>
                <a href="/eng/html/energysave/시멘트분말분체.html">시멘트/분말/분체업</a>
              </li>
            </ul>
          </div>
          <div>
            <p><a href="/contact">Contact</a></p>
            <ul>
              <li>
                <a href="/contact">견적문의</a>
              </li>
              <li>
                <a href="/eng/html/contact/query_normal.html">일반문의</a>
              </li>
              <li>
                <a href="/eng/html/contact/location.html">위치</a>
              </li>
            </ul>
          </div>
          <div>
            <p><a href="/membership/DealerAgent">멤버쉽서비스</a></p>
            <ul>
              <li>
                <a href="/membership/DealerAgent">딜러/에이전트 서비스 비디오</a>
              </li>
              <li>
                <a href="/membership/Video">고객서비스비디오</a>
              </li>
              <li>
                <a href="/membership/Gallery">갤러리</a>
              </li>
              <li>
                <a href="/membership/Media">미디어</a>
              </li>
              <li>
                <a href="/membership/Newsletter">뉴스레터</a>
              </li>
              <li id="adminSideTab" style="display: none">
                <a href="/membership/Admin">유저 관리</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var userRole = localStorage.getItem("role");
      if (userRole === "ADMIN") {
        // document.getElementById('adminTab').style.display = 'list-item';
        document.getElementById("adminSideTab").style.display = "list-item";
      }
    });
  </script>
  <!--</body>-->
  <script type="text/javascript">
    $(document).ready(function () {
      $(".section-productList-wrap").slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: false,
      });

      $(".slick-arrow").click(function (e) {
        $('[aria-hidden="false"]').each(function () {
          var titleElement = $(this).find(".section-productList_index-info-title").text();
          $(".section-productList_index_navi > div").each(function () {
            if ($(this).text().trim() === titleElement) {
              $(this).siblings().removeClass();
              $(this).addClass("activated_index_navi");
            }
          });
        });
      });

      $(".mobile-header-menu").click(function () {
        if ($(this).hasClass("on")) {
          $(this).removeClass("on");
          $(".mobile-header-menu-bar--mid").show(300);
          $(".mobile-header-menu-bar--top").removeClass("on");
          $(".mobile-header-menu-bar--bot").removeClass("on");
          $("body").removeClass("off");
          $(".side-bar").addClass("off");
        } else {
          $(this).addClass("on");
          $(".mobile-header-menu-bar--mid").hide(300);
          $(".mobile-header-menu-bar--top").addClass("on");
          $(".mobile-header-menu-bar--bot").addClass("on");

          $("body").addClass("off");
          $(".side-bar").removeClass("off");
        }
      });
    });
  </script>
  <script src="/js/require/user.js"></script>
</html>
