<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
 <head>
  <!--<div th:replace="turboFragment/head :: head"></div>
    <meta charset="UTF-8">-->
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Turbo Technology Inc.
  </title>
  <link href="/css/reset.css" rel="stylesheet"/>
  <link href="/css/common.css" rel="stylesheet"/>
  <script src="/js/jquery-3.7.1.min.js" type="text/javascript">
  </script>
  <link href="/js/slick.css" rel="stylesheet" type="text/css"/>
  <link href="/js/slick-theme.css" rel="stylesheet" type="text/css"/>
  <script src="/js/slick.min.js" type="text/javascript">
  </script>
  <style>
   .slick-arrow {
            background: gray !important;
        }

        .slick-prev {
            left: 24px !important;
            z-index: 2;
        }

        .slick-next {
            right: 24px !important;
        }
  </style>
 </head>
 <body>
  <div class="container">
   <!--<div th:replace="turboFragment/header :: header"></div>-->
   <header>
    <div class="header-main-container br">
     <div class="header-main-wrap bor">
      <a href="/">
       <img alt="logo" class="header-main-logo by" src="/images/logo/TT_logo.png"/>
      </a>
      <ul class="header-main-menu by">
       <li>
        <a href="/eng/html/company/company.html">
         Company Introduction
        </a>
       </li>
       <li>
        <a href="/eng/html/coretech/coretech.html">
         Core Technology
        </a>
       </li>
       <li>
        <a href="/eng/html/product/product.html">
         Product Description
        </a>
       </li>
       <li>
        <a href="/eng/html/energysave/energysave.html">
         Energy Saving Projects
        </a>
       </li>
       <li>
        <a href="/contact">
         Contact
        </a>
       </li>
       <li>
        <li>
         <a href="/membership/DealerAgent">
          Membership
         </a>
        </li>
       </li>
      </ul>
      <div class="header-main-login by" id="authLink">
       <div id="loginLinkContainer">
        <a href="/user/login">
         LOGIN
        </a>
       </div>
       <div class="header-main-lang">
        <p>
         KR
        </p>
        <img alt="language" height="6px" src="/images/icon/arrow_under.png" width="8px"/>
       </div>
      </div>
      <div class="mobile-header-menu">
       <span class="mobile-header-menu-bar mobile-header-menu-bar--top">
       </span>
       <span class="mobile-header-menu-bar mobile-header-menu-bar--mid">
       </span>
       <span class="mobile-header-menu-bar mobile-header-menu-bar--bot">
       </span>
      </div>
     </div>
    </div>
   </header>
   <section class="wb3" style="margin-bottom: 60px">
    <div class="section-title-container br">
     <div class="section-title-wrap bor">
      <p class="typo_title">
      </p>
     </div>
    </div>
    <div class="section-productList-container br">
     <div class="section-productList-wrap bor">
      <!-- item -->
      <div class="section-productList section-productList_index by">
       <div class="section-productList_index_info">
        <div class="section-productList_index_info_left">
         <p class="section-productList_index-info-title">
          WH-i
         </p>
         <a class="section-productList_index-info-content_more" href="/eng/html/product/WH-i.html">
          <span>
           More
          </span>
          <span style="font-weight: 600; margin-bottom: -2px">
           <svg fill="none" height="16" viewbox="0 0 17 16" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.875 3.4989L13.376 7.99988L8.875 12.5009" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.00189">
            </path>
            <path d="M12.752 8H3.625" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.00189">
            </path>
           </svg>
          </span>
         </a>
        </div>
        <div class="section-productList_index_info_right">
         <img alt="" src="/images/index/wh_i.png"/>
        </div>
       </div>
      </div>
      <!-- item 끝 -->
      <!-- item -->
      <div class="section-productList section-productList_index by">
       <div class="section-productList_index_info">
        <div class="section-productList_index_info_left">
         <p class="section-productList_index-info-title">
          WH-m
         </p>
         <a class="section-productList_index-info-content_more" href="/eng/html/product/WH-m.html">
          <span>
           More
          </span>
          <span style="font-weight: 600; margin-bottom: -2px">
           <svg fill="none" height="16" viewbox="0 0 17 16" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.875 3.4989L13.376 7.99988L8.875 12.5009" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.00189">
            </path>
            <path d="M12.752 8H3.625" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.00189">
            </path>
           </svg>
          </span>
         </a>
        </div>
        <div class="section-productList_index_info_right">
         <img alt="" src="/images/index/wh_m.png"/>
        </div>
       </div>
      </div>
      <!-- item 끝 -->
      <!-- item -->
      <div class="section-productList section-productList_index by">
       <div class="section-productList_index_info">
        <div class="section-productList_index_info_left">
         <p class="section-productList_index-info-title">
          WH-ex
         </p>
         <p class="section-productList_index-info-content">
          <!-- 터보윈의 마이크로 터보 블로워는 높은 효율과<br />
                                내구성을 유지하면서 작고 가벼운 무게를 구현하였습니다. <br />
                                신뢰할 수 있는 높은 효율의 저압의 압축공기가 필요하다면 <br />
                                터보윈의 WL-ex 시리즈가 최고의 선택이 될 것입니다.<br /> -->
         </p>
         <a class="section-productList_index-info-content_more" href="/eng/html/product/WH-ex.html">
          <span>
           More
          </span>
          <span style="font-weight: 600; margin-bottom: -2px">
           <svg fill="none" height="16" viewbox="0 0 17 16" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.875 3.4989L13.376 7.99988L8.875 12.5009" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.00189">
            </path>
            <path d="M12.752 8H3.625" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.00189">
            </path>
           </svg>
          </span>
         </a>
        </div>
        <div class="section-productList_index_info_right">
         <img alt="" src="/images/index/wh_ex.png"/>
        </div>
       </div>
      </div>
      <!-- item 끝 -->
      <!-- item -->
      <div class="section-productList section-productList_index by">
       <div class="section-productList_index_info">
        <div class="section-productList_index_info_left">
         <p class="section-productList_index-info-title">
          WH-o
         </p>
         <p class="section-productList_index-info-content">
          <!-- 터보윈의 마이크로 터보 블로워는 높은 효율과<br />
                                내구성을 유지하면서 작고 가벼운 무게를 구현하였습니다. <br />
                                신뢰할 수 있는 높은 효율의 저압의 압축공기가 필요하다면 <br />
                                터보윈의 WL-o 시리즈가 최고의 선택이 될 것입니다.<br /> -->
         </p>
         <a class="section-productList_index-info-content_more" href="/eng/html/product/WH-o.html">
          <span>
           More
          </span>
          <span style="font-weight: 600; margin-bottom: -2px">
           <svg fill="none" height="16" viewbox="0 0 17 16" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.875 3.4989L13.376 7.99988L8.875 12.5009" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.00189">
            </path>
            <path d="M12.752 8H3.625" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.00189">
            </path>
           </svg>
          </span>
         </a>
        </div>
        <div class="section-productList_index_info_right">
         <img alt="" src="/images/index/wh_o.png"/>
        </div>
       </div>
      </div>
      <!-- item 끝 -->
      <!-- item -->
      <div class="section-productList section-productList_index by">
       <div class="section-productList_index_info">
        <div class="section-productList_index_info_left">
         <p class="section-productList_index-info-title">
          WL-i
         </p>
         <p class="section-productList_index-info-content">
          <!-- 터보윈의 마이크로 터보 블로워는 높은 효율과<br />
                                내구성을 유지하면서 작고 가벼운 무게를 구현하였습니다. <br />
                                신뢰할 수 있는 높은 효율의 저압의 압축공기가 필요하다면 <br />
                                터보윈의 WL-d 시리즈가 최고의 선택이 될 것입니다.<br /> -->
         </p>
         <a class="section-productList_index-info-content_more" href="/eng/html/product/WL-i.html">
          <span>
           More
          </span>
          <span style="font-weight: 600; margin-bottom: -2px">
           <svg fill="none" height="16" viewbox="0 0 17 16" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.875 3.4989L13.376 7.99988L8.875 12.5009" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.00189">
            </path>
            <path d="M12.752 8H3.625" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.00189">
            </path>
           </svg>
          </span>
         </a>
        </div>
        <div class="section-productList_index_info_right">
         <img alt="" src="/images/index/wl_i.png"/>
        </div>
       </div>
      </div>
      <!-- item 끝 -->
      <!-- item -->
      <div class="section-productList section-productList_index by">
       <div class="section-productList_index_info">
        <div class="section-productList_index_info_left">
         <p class="section-productList_index-info-title">
          WL-m
         </p>
         <p class="section-productList_index-info-content">
          <!-- 터보윈의 마이크로 터보 블로워는 높은 효율과<br />
                                내구성을 유지하면서 작고 가벼운 무게를 구현하였습니다. <br />
                                신뢰할 수 있는 높은 효율의 저압의 압축공기가 필요하다면 <br />
                                터보윈의 WL-m 시리즈가 최고의 선택이 될 것입니다.<br /> -->
         </p>
         <a class="section-productList_index-info-content_more" href="/eng/html/product/WL-m.html">
          <span>
           More
          </span>
          <span style="font-weight: 600; margin-bottom: -2px">
           <svg fill="none" height="16" viewbox="0 0 17 16" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.875 3.4989L13.376 7.99988L8.875 12.5009" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.00189">
            </path>
            <path d="M12.752 8H3.625" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.00189">
            </path>
           </svg>
          </span>
         </a>
        </div>
        <div class="section-productList_index_info_right">
         <img alt="" src="/images/index/wl_m.png"/>
        </div>
       </div>
      </div>
      <!-- item 끝 -->
      <!-- item -->
      <div class="section-productList section-productList_index by">
       <div class="section-productList_index_info">
        <div class="section-productList_index_info_left">
         <p class="section-productList_index-info-title">
          WL-v
         </p>
         <p class="section-productList_index-info-content">
          <!-- 터보윈의 마이크로 터보 블로워는 높은 효율과<br />
                                내구성을 유지하면서 작고 가벼운 무게를 구현하였습니다. <br />
                                신뢰할 수 있는 높은 효율의 저압의 압축공기가 필요하다면 <br />
                                터보윈의 WL-v 시리즈가 최고의 선택이 될 것입니다.<br /> -->
         </p>
         <a class="section-productList_index-info-content_more" href="/eng/html/product/WL-v.html">
          <span>
           More
          </span>
          <span style="font-weight: 600; margin-bottom: -2px">
           <svg fill="none" height="16" viewbox="0 0 17 16" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.875 3.4989L13.376 7.99988L8.875 12.5009" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.00189">
            </path>
            <path d="M12.752 8H3.625" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.00189">
            </path>
           </svg>
          </span>
         </a>
        </div>
        <div class="section-productList_index_info_right">
         <img alt="" src="/images/index/wl_v.png"/>
        </div>
       </div>
      </div>
      <!-- item 끝 -->
      <!-- item -->
      <div class="section-productList section-productList_index by">
       <div class="section-productList_index_info">
        <div class="section-productList_index_info_left">
         <p class="section-productList_index-info-title">
          WL-t
         </p>
         <p class="section-productList_index-info-content">
          <!-- 터보윈의 마이크로 터보 블로워는 높은 효율과<br />
                                내구성을 유지하면서 작고 가벼운 무게를 구현하였습니다. <br />
                                신뢰할 수 있는 높은 효율의 저압의 압축공기가 필요하다면 <br />
                                터보윈의 WL-v 시리즈가 최고의 선택이 될 것입니다.<br /> -->
         </p>
         <a class="section-productList_index-info-content_more" href="/eng/html/product/WL-t.html">
          <span>
           More
          </span>
          <span style="font-weight: 600; margin-bottom: -2px">
           <svg fill="none" height="16" viewbox="0 0 17 16" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.875 3.4989L13.376 7.99988L8.875 12.5009" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.00189">
            </path>
            <path d="M12.752 8H3.625" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.00189">
            </path>
           </svg>
          </span>
         </a>
        </div>
        <div class="section-productList_index_info_right">
         <img alt="" src="/images/index/wl_t.png"/>
        </div>
       </div>
      </div>
      <!-- item 끝 -->
     </div>
     <div class="section-productList_index_navi_contianer">
      <div class="section-productList_index_navi">
       <div class="activated_index_navi">
        WH-i
       </div>
       <div>
        WH-m
       </div>
       <div>
        WH-ex
       </div>
       <div>
        WH-o
       </div>
       <!-- <div>WH-s</div> -->
       <!-- <div>WH-d</div> -->
       <div>
        WL-i
       </div>
       <div>
        WL-m
       </div>
       <div>
        WL-v
       </div>
       <div>
        WL-t
       </div>
      </div>
     </div>
    </div>
   </section>
   <footer class="">
    <div class="footer-container br">
     <div class="footer-wrap br">
      <div class="footer-up">
       <span class="footer-info">
        <p style="color: white">
        </p>
        <p>
        </p>
       </span>
       <span>
        <p class="footer">
         Copyright © 2024 Turbo Technology Co., LTD. All Rights Reserved.
        </p>
       </span>
      </div>
      <div class="footer-down">
       <p class="footer">
        Address - 501-ho, 10, Dongtan-daero 21-gil, Hwaseong-si, Gyeonggi-do, Republic of Korea
       </p>
       <p>
        Tel - 031-374-0804
       </p>
       <p>
        Fax - 031-374-0803
       </p>
      </div>
     </div>
    </div>
   </footer>
   <!--<div th:replace="turboFragment/footer :: footer"></div>-->
   <nav class="side-bar off">
    <div class="side-bar-login-section">
     <a href="">
      Login
     </a>
    </div>
    <div class="side-bar-lang-section">
     <span><a href="/">KOR</a></span>
     <span><a href="/eng/main.html">ENG</a></span>
    </div>
    <div class="side-bar-sub-section">
     <div>
      <p>
       <a href="/eng/html/company/company.html">
        Introduction
       </a>
      </p>
      <ul>
       <li>
        <a href="/eng/html/company/ceo.html">
         Message from CEO
        </a>
       </li>
       <li>
        <a href="/eng/html/company/companyinfo.html">
         About Us
        </a>
       </li>
       <li>
        <a href="/eng/html/company/people.html">
         Group
        </a>
       </li>
      </ul>
     </div>
     <div>
      <p>
       <a href="/eng/html/coretech/coretech.html">
        Core Technology
       </a>
      </p>
      <ul>
       <li>
        <a href="/eng/html/coretech/uhepmmotor.html">
         UHEPM Motor
        </a>
       </li>
       <li>
        <a href="/eng/html/coretech/nbwairfoilbearing.html">
         NBW Air Foil Bearing
        </a>
       </li>
       <li>
        <a href="/eng/html/coretech/supersonicimpeller.html">
         Supersonic Impeller
        </a>
       </li>
       <li>
        <a href="/eng/html/coretech/dualaircoolingsystem.html">
         Dual Air Cooling System
        </a>
       </li>
       <li>
        <a href="/eng/html/coretech/autosurgeprotectionsystem.html">
         Auto Surge Protection System
        </a>
       </li>
       <li>
        <a href="/eng/html/coretech/internalcoolingairsystem.html">
         Internal Cooling Air System
        </a>
       </li>
       <li>
        <a href="/eng/html/coretech/anti-explosiveturbomotor.html">
         Anti-Explosive Turbo Motor
        </a>
       </li>
       <li>
        <a href="/eng/html/coretech/ambientlighting.html">
         Ambient Lighting
        </a>
       </li>
       <li>
        <a href="/eng/html/coretech/smarthmi.html">
         SMART HMI
        </a>
       </li>
      </ul>
     </div>
     <div>
      <p>
       <a href="/eng/html/product/product.html">
        Product
       </a>
      </p>
      <ul>
       <li>
        <a href="/eng/html/product/WH-SERIES.html">
         WH Series Turbo Compressor
        </a>
       </li>
       <li>
        <a href="/eng/html/product/WL-SERIES.html">
         WL Series Turbo Blower
        </a>
       </li>
      </ul>
     </div>
     <div>
      <p>
       <a href="/eng/html/energysave/energysave.html">
        Energy-Saving Projects
       </a>
      </p>
      <ul>
       <li>
        <a href="/eng/html/energysave/2차전지.html">
         Secondary Battery
        </a>
       </li>
       <li>
        <a href="/eng/html/energysave/바이오케미컬.html">
         Biochemical
        </a>
       </li>
       <li>
        <a href="/eng/html/energysave/반도체디스플레이.html">
         Semiconductor Display
        </a>
       </li>
       <li>
        <a href="/eng/html/energysave/석유화학.html">
         Petrochemical
        </a>
       </li>
       <li>
        <a href="/eng/html/energysave/식음료.html">
         Food
        </a>
       </li>
       <li>
        <a href="/eng/html/energysave/양조발효.html">
         Brewing Fermentation
        </a>
       </li>
       <li>
        <a href="/eng/html/energysave/수처리환경.html">Wastewater Treatment
        </a>
       </li>
       <li>
        <a href="/eng/html/energysave/발전.html">
         Power Generation
        </a>
       </li>
       <li>
        <a href="/eng/html/energysave/금속제강제련.html">
         Metal/Steel/Refining
        </a>
       </li>
       <li>
        <a href="/eng/html/energysave/조선선박.html">
         Shipbuilding
        </a>
       </li>
       <li>
        <a href="/eng/html/energysave/광업.html">
         Mining
        </a>
       </li>
       <li>
        <a href="/eng/html/energysave/시멘트분말분체.html">
         Cement/Powder/Particle Industry
        </a>
       </li>
      </ul>
     </div>
     <div>
      <p>
       <a href="/contact">
        Contact
       </a>
      </p>
      <ul>
       <li>
        <a href="/contact">
         Quotation
        </a>
       </li>
       <li>
        <a href="/eng/html/contact/query_normal.html">
         Inquiry
        </a>
       </li>
       <li>
        <a href="/eng/html/contact/location.html">
         Location
        </a>
       </li>
      </ul>
     </div>
     <div>
      <p>
       <a href="/membership/DealerAgent">
        Membership
       </a>
      </p>
      <ul>
       <li>
        <a href="/membership/DealerAgent">
         Dealer/Agent Service Video
        </a>
       </li>
       <li>
        <a href="/membership/Video">
         Customer Service Video
        </a>
       </li>
       <li>
        <a href="/membership/Gallery">
         Gallery
        </a>
       </li>
       <li>
        <a href="/membership/Media">
         Media
        </a>
       </li>
       <li>
        <a href="/membership/Newsletter">
         Newsletter
        </a>
       </li>
       <li id="adminSideTab" style="display: none">
        <a href="/membership/Admin">
         유저 관리
        </a>
       </li>
      </ul>
     </div>
    </div>
   </nav>
  </div>
 </body>
 <!--</body>-->
 <script type="text/javascript">
  $(document).ready(function () {
            $(".section-productList-wrap").slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                infinite: false,
            });

            $(".slick-arrow").click(function (e) {
                $('[aria-hidden="false"]').each(function () {
                    var titleElement = $(this).find(".section-productList_index-info-title").text();
                    $(".section-productList_index_navi > div").each(function () {
                        if ($(this).text().trim() === titleElement) {
                            $(this).siblings().removeClass();
                            $(this).addClass("activated_index_navi");
                        }
                    });
                });
            });

            $(".mobile-header-menu").click(function () {
                if ($(this).hasClass("on")) {
                    $(this).removeClass("on");
                    $(".mobile-header-menu-bar--mid").show(300);
                    $(".mobile-header-menu-bar--top").removeClass("on");
                    $(".mobile-header-menu-bar--bot").removeClass("on");
                    $("body").removeClass("off");
                    $(".side-bar").addClass("off");
                } else {
                    $(this).addClass("on");
                    $(".mobile-header-menu-bar--mid").hide(300);
                    $(".mobile-header-menu-bar--top").addClass("on");
                    $(".mobile-header-menu-bar--bot").addClass("on");

                    $("body").addClass("off");
                    $(".side-bar").removeClass("off");
                }
            });
        });
 </script>
 <script>
  document.addEventListener('DOMContentLoaded', function() {
        var userRole = localStorage.getItem('role');
        if (userRole === 'ADMIN') {
            // // document.getElementById('adminTab').style.display = 'list-item';
            document.getElementById('adminSideTab').style.display = 'list-item';
        }
    });
 </script>
 <script src="/js/require/user.js">
 </script>
</html>
